.status {
  display: inline-block;
    margin-left: 20px;
    padding: 10px;
    border-radius: 50%;
  }

  .statuson {
    background-color: rgb(1, 138, 1);
    
  }
  
  
  .statusoff {
    background-color: rgb(139, 139, 139);
  }

  

